[class*="ins-notification-content-"] {
  width: auto;
}

.ins-preview-wrapper div .clicked {
  margin-bottom: 0 !important;
}

.ins-notification {
  width: 100%;
  margin-top: 0 !important;
  margin-left: 0 !important;
}

.ins-mobile-web-smart-recommender-main-wrapper {
  position: relative;
  height: auto;
  overflow: hidden;
  direction: ltr !important;
}

.ins-mobile-web-smart-recommender-body-wrapper .arrange-dimensions-height {
  display: none !important;
}

.ins-single-product .ins-mobile-web-smart-recommender-main-wrapper {
  overflow: unset;
}

.ins-single-product .ins-notification-content {
  display: contents !important;
}

.ins-mobile-web-smart-recommender-header {
  font-family: inherit;
  font-size: 16px;
  color: #000000;
}

.ins-mobile-web-smart-recommender-header .ins-element-text {
  font-weight: 700;
  width: 100%;
  text-align: left;
}

.ins-mobile-web-smart-recommender-header .ins-element-text a {
  color: inherit !important;
}

.ins-responsive-banner-image {
  align-items: inherit;
  display: inherit !important;
  flex-direction: inherit !important;
  flex: inherit !important;
  overflow: hidden;
  position: relative;
}

.ins-product-box {
  display: inherit !important;
  align-items: inherit !important;
  flex-direction: inherit !important;
  flex-grow: inherit !important;
}

.ins-product-name-container .ins-product-box {
  color: inherit !important;
}

.ins-mobile-web-smart-recommender-body-wrapper {
  width: 100%;
  overflow: hidden;
  margin: 0 auto;
  padding: #{{Padding}}px !important;
}

.ins-mobile-web-smart-recommender-body {
  width: 3000px;
  margin-left: 0;
  overflow: hidden;
  display: flex !important;
  flex-direction: row;
  transition: #{{Animation Speed}}ms transform;
  transform: translateX(0);
  gap: #{{Card Spacing}}px;
}

.ins-mobile-web-smart-recommender-body.multiple-row {
  display: flex !important;
  flex-wrap: wrap;
}

.ins-mobile-web-smart-recommender-box-item {
  text-decoration: none;
  color: #000000;
  list-style: none;
}

.ins-mobile-web-smart-recommender-box-item {
  height: auto;
}

.ins-template-image {
  width: 100%;
  align-items: inherit;
}

.ins-image-box {
  overflow: hidden;
  flex-grow: inherit;
}

.ins-image-area {
  overflow: hidden;
  width: 100% !important;
  height: 100% !important;
  display: flex !important;
  align-items: inherit;
  flex-grow: inherit;
  justify-content: center;
  object-fit: contain;
}

.ins-element-product-image {
  height: 100%;
  display: flex !important;
  flex-direction: column;
  flex-grow: 1;
}

.ins-layout.ins-image-layout-wrapper {
  min-height: 180px;
}

.ins-responsive-mode-active .ins-layout.ins-image-layout-wrapper {
  min-height: auto !important;
}

.ins-element-product-image .ins-responsive-banner-image,
.ins-element-product-image .ins-responsive-banner-image .ins-product-box {
  height: inherit;
  width: inherit;
}

.ins-product-name {
  margin: 0 0 10px 0;
  font-size: inherit !important;
  width: 100%;
  overflow: hidden;
  color: inherit !important;
  text-decoration: inherit !important;
  font-weight: inherit !important;
  font-style: inherit !important;
  text-decoration-line: inherit !important;
  font-family: inherit !important;
}
.ins-product-name-container {
  font-size: 14px;
  line-height: normal;
  height: #{{Product Name Area.Height}}px;
  width: #{{Product Name Area.Width}}px;
  color: #000000;
  overflow: hidden;
  font-weight: normal;
  font-style: inherit;
  text-decoration-line: inherit;
}

.ins-product-price-wrapper .ins-product-price-container {
  font-size: 16px;
  font-weight: bold;
  text-align: left;
  color: #e13d3d;
}

.ins-product-price {
  color: inherit !important;
  text-decoration: inherit !important;
  font-weight: inherit !important;
  font-style: inherit !important;
  text-decoration-line: inherit !important;
  font-family: inherit !important;
  text-align: inherit !important;
  width: inherit !important;
  word-break: break-word;
}

.ins-product-discount-container {
  font-size: 14px;
  text-align: left;
  color: #bababa;
  font-weight: bold;
}

.ins-product-discount-container .ins-element-content {
  text-decoration-line: line-through;
  -webkit-text-decoration-line: line-through;
}

.ins-product-discount {
  font-weight: inherit !important;
  font-style: inherit !important;
  text-decoration-line: inherit !important;
  -webkit-text-decoration-line: inherit !important;
  font-family: inherit !important;
  margin-right: 10px;
}

.ins-temporary-preview {
  width: 100%;
  max-width: 300px;
  height: 100%;
  max-height: 300px;
  margin-top: -35px;
}

.ins-display-block {
  display: block !important;
}

.ins-layout.ins-product-content {
  background-color: #ffffff;
  padding: #{{Product Padding}}px;
}

.ins-product-element {
  width: 100%;
}

.ins-slider-arrow-element {
  display: flex;
  cursor: pointer;
  position: absolute;
  top: calc(50% - 20px);
  z-index: 3;
  width: 40px !important;
  height: 40px !important;
  background: #{{Background Color}};
}

#template-container .ins-slider-arrow-element {
  pointer-events: none !important;
}

.ins-preview-wrapper .ins-slider-arrow-element.ins-layout.ins-hide-arrow {
  display: none !important;
}

.ins-single-product .ins-slider-arrow-element {
  visibility: hidden !important;
}

.ins-single-product .ins-mobile-web-smart-recommender-body {
  display: inline-block !important;
}

.ins-single-product .ins-product-element {
  padding: 0 !important;
}

.ins-slider-arrow-element.ins-selected-element, .ins-badge-wrapper.ins-selected-element {
  border: unset;
  box-shadow: unset;
}

.ins-mobile-web-smart-recommender-main-wrapper .ins-selected-element {
  margin: 0 !important;
}

.ins-arrow-with-background {
  background-image: url('#{{Arrow Image}}');
  background-size: 100%;
  width: #{{Arrow Size}}px;
  height: #{{Arrow Size}}px;
}

.ins-arrow-with-border {
  border-top: 3px solid;
  border-right: 3px solid;
  border-color: #{{Arrows Color}};
  transform: rotate(45deg);
  width: #{{Arrow Size}}px;
  height: #{{Arrow Size}}px;
}

.ins-slider-prev > .ins-arrow-with-border {
  transform: translateY(12px) rotate(45deg);
}

.ins-slider-prev {
  left: #{{Arrows Position}}px;
}

.ins-slider-next {
  right: #{{Arrows Position}}px;
}

.ins-slider-prev .ins-slider-arrow-wrapper.ins-arrow-with-background {
  transform: rotate(180deg);
}

.ins-slider-prev .ins-arrow-with-border.ins-slider-arrow-wrapper {
  transform: rotate(225deg);
  margin-left: calc(#{{Arrow Size}}px / 2);
}

.ins-slider-next .ins-arrow-with-border.ins-slider-arrow-wrapper {
  margin-left: calc(#{{Arrow Size}}px / 2 * -1);
}

.ins-element-product-attribute {
  text-align: left;
  margin-bottom: 10px;
  margin-right: 10px;
  display: inline-block;
}

.ins-responsive-mode-active .ins-product-element,
.ins-responsive-mode-active .ins-dynamic-text,
.ins-responsive-mode-active .ins-element-dynamic-text,
.ins-responsive-mode-active .ins-element-image,
.ins-responsive-mode-active .ins-product-price,
.ins-responsive-mode-active .ins-image-box {
  width: 100% !important;
}

.ins-element-product-attribute .ins-dynamic-element-tag {
  margin: 0 !important;
  color: inherit !important;
  font-family: inherit !important;
  text-align: inherit !important;
  font-weight: inherit !important;
  text-decoration-line: inherit !important;
  font-size: inherit !important;
  word-break: break-all !important;
}

.ins-preview-wrapper .ins-discount-icon {
  margin: 0 5px 0 5px;
}

.ins-product-box.ins-element-link .ins-badge-container[data-position-alignment="left-top"] {
  left: 0;
  top: 0;
}

.ins-product-box.ins-element-link .ins-badge-container[data-position-alignment="right-top"] {
  right: 0;
  top: 0;
}

.ins-product-box.ins-element-link .ins-badge-container[data-position-alignment="left-bottom"] {
  left: 0;
  bottom: 0;
}

.ins-product-box.ins-element-link .ins-badge-container[data-position-alignment="right-bottom"] {
  right: 0;
  bottom: 0;
}

.ins-product-box.ins-element-link .ins-badge-wrapper {
  display: flex;
  align-items: inherit;
}

.ins-product-box.ins-element-link .ins-badge-container {
  display: flex !important;
  position: absolute;
  align-items: inherit;
  background-color: #2C3546;
  border-radius: 4px;
  color: #FFFFFF;
  padding: 4px;
  font-size: 9px;
  margin: 0;
  overflow: hidden;
  gap: 3px;
  text-align: center;
}

.ins-background-image-area {
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
}

.ins-product-box.ins-element-link .ins-badge-container.ins-product-image-badge {
  width: auto;
  height: auto;
}

.ins-product-box.ins-element-link .ins-badge-container .ins-dynamic-text {
  height: auto !important;
}

.ins-product-box.ins-element-link .ins-badge-container.ins-product-image-button {
  background-color: transparent;
  width: 32px;
  height: 32px;
}

.ins-dynamic-text-area {
  display: none;
  word-break: break-word;
}

.ins-preview-wrapper div.ins-product-price-wrapper {
  display: flex;
  align-items: inherit;
  justify-content: stretch;
  width: 100%;
}

.ins-preview-wrapper div.ins-product-price-wrapper > div {
  width: 100%;
  display: flex;
  align-items: inherit;
}

.ins-product-price-area-multi-line .ins-product-price-wrapper {
  align-items: flex-start;
  flex-direction: column;
}

.ins-product-price-area-single-line .ins-product-price-wrapper {
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.ins-product-price-area-single-line .ins-product-price-wrapper.ins-product-price-centered {
  justify-content: center;
}

.ins-product-price-area-single-line .ins-product-price-wrapper > div.ins-auto-width {
  width: auto;
}

.ins-preview-wrapper .ins-hide {
  display: none;
}

.ins-preview-wrapper .ins-show {
  display: inline-block;
}

.ins-adaptive-button-wrapper.ins-adaptive-button-flex {
  width: 100%;
}

.ins-mobile-web-smart-recommender-box-item .ins-action-buttons-wrapper {
  width: 100%;
  height: 40px;
}

.ins-mobile-web-smart-recommender-box-item .ins-add-to-cart-button,
.ins-mobile-web-smart-recommender-box-item .ins-add-to-wishlist-button,
.ins-mobile-web-smart-recommender-box-item .ins-go-to-product {
  visibility: hidden;
  background-color: #91949F;
  color: white;
  text-align: center;
}

.ins-mobile-web-smart-recommender-box-item .ins-add-to-cart-button > a,
.ins-mobile-web-smart-recommender-box-item .ins-add-to-wishlist-button > a,
.ins-mobile-web-smart-recommender-box-item .ins-go-to-product > a {
  display: flex;
  justify-content: center;
  align-items: center;
  color: inherit !important;
  column-gap: 10px;
}

.ins-mobile-web-smart-recommender-box-item .ins-add-to-cart-button .action-button-icon,
.ins-mobile-web-smart-recommender-box-item .ins-add-to-wishlist-button .action-button-icon,
.ins-mobile-web-smart-recommender-box-item .ins-go-to-product .action-button-icon {
  width: 20px;
  height: 20px;
}

.ins-adaptive-button-wrapper .action-button-icon-container {
  display: flex;
  justify-content: flex-end;
  flex: 1 1 auto;
}

.ins-adaptive-button-wrapper .ins-adaptive-button {
  flex: 1 1 auto;
  word-break: break-word;
}

.ins-mobile-web-smart-recommender-box-item .action-button-icon {
  display: inline-block;
  width: 20px;
}

.ins-mobile-web-smart-recommender-box-item [data-setup="iconOnly"] a .action-button-icon-container {
  justify-content: center !important;
}

.ins-mobile-web-smart-recommender-box-item [data-setup="textOnly"] a .action-button-icon-container,
.ins-mobile-web-smart-recommender-box-item [data-setup="iconOnly"] a .ins-adaptive-button,
.ins-mobile-web-smart-recommender-box-item [data-setup="noTextNoIcon"] a .action-button-icon-container,
.ins-mobile-web-smart-recommender-box-item [data-setup="noTextNoIcon"] a .ins-adaptive-button {
  display: none !important;
}

.ins-mobile-web-smart-recommender-box-item [icon-placement="right"] a {
  transform: rotate(180deg)
}

.ins-mobile-web-smart-recommender-box-item [icon-placement="right"] .action-button-icon,
.ins-mobile-web-smart-recommender-box-item [icon-placement="right"] .ins-adaptive-button {
  transform: rotate(-180deg)
}

.ins-mobile-web-smart-recommender-box-item:hover [display="hover"] {
  visibility: visible !important;
}

.ins-mobile-web-smart-recommender-box-item [display="always"] {
  visibility: visible !important;
}

.ins-action-buttons-wrapper .ins-element-content,
.ins-action-buttons-wrapper .ins-element-link {
  height: 100%;
  width: 100%;
}

.ins-mobile-web-smart-recommender-box-item .ins-action-buttons-wrapper .ins-element-editable {
  height: 100%;
  width: 100%;
  padding: 8px;
}

.ins-mobile-web-smart-recommender-box-item .ins-action-buttons-wrapper .ins-adaptive-button {
  font-size: inherit;
}

.ins-after-click-color-button {
  background-color: #{{Click Fill}} !important;
}

.ins-display-inline {
  display: inline-block !important;
}
.ins-product-dropdown-wrapper {
  width: 100%;
  height: 100%;
  text-align: center;
}

.ins-product-dropdown-wrapper select {
  width: 100%;
  height: 30px !important;
  color: #91949F;
  background: #F7F9FA;
  border: 1px solid #DCDEE6;
  border-radius: 5px;
  padding-left: 10px;
  flex-grow: unset !important;
  flex: unset !important;
  align-items: center !important;
}

.clone-product-div [ins-data-map="button"] {
  cursor: pointer;
}

.ins-dynamic-wrap-area {
  position: relative;
}

.ins-preview-wrapper .clone-product-div .ins-mobile-web-smart-recommender-body,
.ins-preview-wrapper .clone-product-div .ins-mobile-web-smart-recommender-box-item {
  display: flex !important;
}

.ins-preview-wrapper .clone-product-div .ins-mobile-web-smart-recommender-box-item > div {
  width: 100%;
}

.ins-preview-wrapper .selectedCloneDiv-discounted_price,
.ins-preview-wrapper .selectedCloneDiv-original_price {
  white-space: nowrap;
}

.ins-preview-wrapper .clone-product-div .ins-product-content {
  height: 100%;
}

#{{CloneProductDivCss}}


/* Layout CSS Start */

.ins-wrap-layout-quadruple .ins-layout, .ins-wrap-layout-quadruple .ins-layout-wrapper {
  height: inherit;
}

/* Layout 3-4 Start */
.ins-preview-wrapper div[data-selected-layout="layout-3-4"] .ins-layout-wrapper {
  display: flex !important;
}

.ins-preview-wrapper div[data-selected-layout="layout-3-4"] .ins-layout-block-wrapper:nth-child(1) {
  flex-wrap: wrap;
  float: left;
  width: 50%;
}

.ins-preview-wrapper div[data-selected-layout="layout-3-4"] .ins-layout-block-wrapper:nth-child(2) {
  min-height: 80px;
  width: 50%;
}

.ins-preview-wrapper div[data-selected-layout="layout-3-4"] .ins-layout-wrapper {
  display: flex !important;
}
/* Layout 3-4 End */

/* Layout 3-5 Start */
.ins-preview-wrapper div[data-selected-layout="layout-3-5"] .ins-layout-wrapper {
  display: flex !important;
}

.ins-preview-wrapper div[data-selected-layout="layout-3-5"] .ins-layout-block-wrapper:nth-child(1) {
  float: left;
  min-height: 80px;
  width: 50%;
}

.ins-preview-wrapper div[data-selected-layout="layout-3-5"] .ins-layout-block-wrapper:nth-child(2) {
  flex-wrap: wrap;
  width: 50%;
}
/* Layout 3-5 End */

/* Layout 3-6 Start */
.ins-preview-wrapper div[data-selected-layout*="layout-3-6"] .ins-layout-wrapper {
  display: flex !important;
}
/* Layout 3-6 End */

/* Layout 4-13 Start */
.ins-preview-wrapper div[data-selected-layout="layout-4-13"] .ins-layout-block-wrapper {
  flex-wrap: wrap;
  width: 50%;
}

.ins-preview-wrapper div[data-selected-layout="layout-4-13"] .ins-layout-block-wrapper:nth-child(1) .ins-layout:nth-child(1),
.ins-preview-wrapper div[data-selected-layout="layout-4-13"] .ins-layout-block-wrapper:nth-child(1) .ins-layout:nth-child(2) {
  width: 50%;
}

.ins-preview-wrapper div[data-selected-layout="layout-4-13"] .ins-layout-block-wrapper:nth-child(1) .ins-layout:nth-child(3) {
  width: 100%;
}
/* Layout 4-13 End */

/* Layout 4-14 Start */
.ins-preview-wrapper div[data-selected-layout="layout-4-14"] .ins-layout-block-wrapper {
  flex-wrap: wrap;
  width: 50%;
}

.ins-preview-wrapper div[data-selected-layout="layout-4-14"] .ins-layout-block-wrapper:nth-child(1) .ins-layout:nth-child(1) {
  width: 100%;
}
.ins-preview-wrapper div[data-selected-layout="layout-4-14"] .ins-layout-block-wrapper:nth-child(1) .ins-layout:nth-child(2),
.ins-preview-wrapper div[data-selected-layout="layout-4-14"] .ins-layout-block-wrapper:nth-child(1) .ins-layout:nth-child(3) {
  width: 50%;
}
/* Layout 4-14 End */

/* Layout 4-15 Start */
.ins-preview-wrapper div[data-selected-layout="layout-4-15"] .ins-layout-block-wrapper {
  flex-wrap: wrap;
  width: 50%;
}

.ins-preview-wrapper div[data-selected-layout="layout-4-15"] .ins-layout-block-wrapper:nth-child(2) .ins-layout:nth-child(1),
.ins-preview-wrapper div[data-selected-layout="layout-4-15"] .ins-layout-block-wrapper:nth-child(2) .ins-layout:nth-child(2) {
  width: 50%;
}

.ins-preview-wrapper div[data-selected-layout="layout-4-15"] .ins-layout-block-wrapper:nth-child(2) .ins-layout:nth-child(3) {
  width: 100%;
}
/* Layout 4-15 End */

/* Layout 4-16 Start */
.ins-preview-wrapper div[data-selected-layout="layout-4-16"] .ins-layout-block-wrapper {
  flex-wrap: wrap;
  width: 50%;
}

.ins-preview-wrapper div[data-selected-layout="layout-4-16"] .ins-layout-block-wrapper:nth-child(2) .ins-layout:nth-child(1) {
  width: 100%;
}

.ins-preview-wrapper div[data-selected-layout="layout-4-16"] .ins-layout-block-wrapper:nth-child(2) .ins-layout:nth-child(2),
.ins-preview-wrapper div[data-selected-layout="layout-4-16"] .ins-layout-block-wrapper:nth-child(2) .ins-layout:nth-child(3) {
  width: 50%;
}
/* Layout 4-16 End */

/* Layout 4-17 Start */
.ins-preview-wrapper div[data-selected-layout="layout-4-17"] .ins-layout-block-wrapper {
  flex-wrap: wrap;
  width: 50%;
}

.ins-preview-wrapper div[data-selected-layout="layout-4-17"] .ins-layout-block-wrapper:nth-child(1) {
  float: left;
}

.ins-preview-wrapper div[data-selected-layout="layout-4-17"] .ins-layout-block-wrapper:nth-child(2) {
  min-height: 80px;
}

.ins-preview-wrapper div[data-selected-layout="layout-4-17"] .ins-layout-block-wrapper:nth-child(3) {
  width: 100%;
}
/* Layout 4-17 End */

/* Layout 4-18 Start */
.ins-preview-wrapper div[data-selected-layout="layout-4-18"] .ins-layout-block-wrapper {
  flex-wrap: wrap;
  width: 50%;
}

.ins-preview-wrapper div[data-selected-layout="layout-4-18"] .ins-layout-block-wrapper:nth-child(1) {
  min-height: 80px;
  float: left;
}

.ins-preview-wrapper div[data-selected-layout="layout-4-18"] .ins-layout-block-wrapper:nth-child(3) {
  width: 100%;
}
/* Layout 4-18 End */

/* Layout 4-19 Start */
.ins-preview-wrapper div[data-selected-layout="layout-4-19"] .ins-layout-block-wrapper {
  flex-wrap: wrap;
  width: 50%;
}

.ins-preview-wrapper div[data-selected-layout="layout-4-19"] .ins-layout-block-wrapper:nth-child(1) {
  width: 100%;
}

.ins-preview-wrapper div[data-selected-layout="layout-4-19"] .ins-layout-block-wrapper:nth-child(2) {
  float: left;
}

.ins-preview-wrapper div[data-selected-layout="layout-4-19"] .ins-layout-block-wrapper:nth-child(3) {
  min-height: 80px;
}
/* Layout 4-19 End */

/* Layout 4-20 Start */
.ins-preview-wrapper div[data-selected-layout="layout-4-20"] .ins-layout-block-wrapper {
  flex-wrap: wrap;
  width: 50%;
}

.ins-preview-wrapper div[data-selected-layout="layout-4-20"] .ins-layout-block-wrapper:nth-child(1) {
  width: 100%;
}

.ins-preview-wrapper div[data-selected-layout="layout-4-20"] .ins-layout-block-wrapper:nth-child(2) {
  min-height: 80px;
  float: left;
}
/* Layout 4-19 End */

/* Layout 4-20 Start */
.ins-preview-wrapper div[data-selected-layout="layout-4-21"] .ins-layout {
  width: 25%;
}
/* Layout 4-19 End */

.ins-preview-wrapper .add-plus {
  color: #258DDE;
  cursor: pointer;
}

.ins-preview-wrapper .layout-add-element {
  font-size: 12px;
  color: #258DDE;
  cursor: pointer;
}

.ins-preview-wrapper .ins-layout {
  display: flex !important;
  align-items: center;
  flex-direction: column;
}

.ins-layout-block-wrapper {
  display: flex !important;
  justify-content: center;
  width: 100%;
}

div[data-selected-layout*="layout-"] .ins-layout-wrapper {
  display: block !important;
}

/* Layout Main Css Start */
#template-container[platform="mobile"] div[data-selected-layout="layout-4-5"] .ins-layout-wrapper,
#template-container[platform="tablet"] div[data-selected-layout="layout-4-5"] .ins-layout-wrapper,
#template-container[platform="mobile"] div[data-selected-layout="layout-4-6"] .ins-layout-wrapper,
#template-container[platform="tablet"] div[data-selected-layout="layout-4-6"] .ins-layout-wrapper,
#template-container[platform="mobile"] div[data-selected-layout="layout-4-7"] .ins-layout-wrapper,
#template-container[platform="tablet"] div[data-selected-layout="layout-4-7"] .ins-layout-wrapper,
#template-container[platform="mobile"] div[data-selected-layout="layout-4-11"] .ins-layout-wrapper,
#template-container[platform="tablet"] div[data-selected-layout="layout-4-11"] .ins-layout-wrapper,
#template-container[platform="mobile"] div[data-selected-layout="layout-4-12"] .ins-layout-wrapper,
#template-container[platform="tablet"] div[data-selected-layout="layout-4-12"] .ins-layout-wrapper,
#template-container[platform="mobile"] div[data-selected-layout="layout-4-13"] .ins-layout-wrapper,
#template-container[platform="tablet"] div[data-selected-layout="layout-4-13"] .ins-layout-wrapper,
#template-container[platform="mobile"] div[data-selected-layout="layout-4-14"] .ins-layout-wrapper,
#template-container[platform="tablet"] div[data-selected-layout="layout-4-14"] .ins-layout-wrapper,
#template-container[platform="mobile"] div[data-selected-layout="layout-4-15"] .ins-layout-wrapper,
#template-container[platform="tablet"] div[data-selected-layout="layout-4-15"] .ins-layout-wrapper,
#template-container[platform="mobile"] div[data-selected-layout="layout-4-16"] .ins-layout-wrapper,
#template-container[platform="tablet"] div[data-selected-layout="layout-4-16"] .ins-layout-wrapper,
#template-container[platform="mobile"] div[data-selected-layout="layout-4-17"] .ins-layout-wrapper,
#template-container[platform="tablet"] div[data-selected-layout="layout-4-17"] .ins-layout-wrapper,
#template-container[platform="mobile"] div[data-selected-layout="layout-4-18"] .ins-layout-wrapper,
#template-container[platform="tablet"] div[data-selected-layout="layout-4-18"] .ins-layout-wrapper,
#template-container[platform="mobile"] div[data-selected-layout="layout-4-19"] .ins-layout-wrapper,
#template-container[platform="tablet"] div[data-selected-layout="layout-4-19"] .ins-layout-wrapper,
#template-container[platform="mobile"] div[data-selected-layout="layout-4-20"] .ins-layout-wrapper,
#template-container[platform="tablet"] div[data-selected-layout="layout-4-20"] .ins-layout-wrapper {
  flex-direction: row !important;
}

.ins-preview-wrapper div[data-selected-layout="layout-4-5"] .ins-layout-block-wrapper,
.ins-preview-wrapper div[data-selected-layout="layout-4-6"] .ins-layout-block-wrapper,
.ins-preview-wrapper div[data-selected-layout="layout-4-7"] .ins-layout-block-wrapper,
.ins-preview-wrapper div[data-selected-layout="layout-3-6"] .ins-layout,
.ins-preview-wrapper div[data-selected-layout="layout-4-9"] .ins-layout-block-wrapper:nth-child(2) .ins-layout,
.ins-preview-wrapper div[data-selected-layout="layout-4-10"] .ins-layout-block-wrapper:nth-child(1) .ins-layout {
  width: calc(100%/3);
}

.ins-preview-wrapper div[data-selected-layout="layout-2-2"] .ins-layout,
.ins-preview-wrapper div[data-selected-layout="layout-3-2"] .ins-layout-block-wrapper:nth-child(1) .ins-layout,
.ins-preview-wrapper div[data-selected-layout="layout-3-3"] .ins-layout-block-wrapper:nth-child(2) .ins-layout,
.ins-preview-wrapper div[data-selected-layout="layout-4-2"] .ins-layout-block-wrapper:nth-child(1) .ins-layout,
.ins-preview-wrapper div[data-selected-layout="layout-4-3"] .ins-layout-block-wrapper:nth-child(2) .ins-layout,
.ins-preview-wrapper div[data-selected-layout="layout-4-4"] .ins-layout-block-wrapper:nth-child(3) .ins-layout,
.ins-preview-wrapper div[data-selected-layout="layout-4-8"] .ins-layout,
.ins-preview-wrapper div[data-selected-layout="layout-3-4"] .ins-layout-block-wrapper {
  width: 50%;
}

.ins-preview-wrapper div[data-selected-layout="layout-4-5"] .ins-layout-wrapper,
.ins-preview-wrapper div[data-selected-layout="layout-4-6"] .ins-layout-wrapper,
.ins-preview-wrapper div[data-selected-layout="layout-4-7"] .ins-layout-wrapper,
.ins-preview-wrapper div[data-selected-layout="layout-4-11"] .ins-layout-wrapper,
.ins-preview-wrapper div[data-selected-layout="layout-4-12"] .ins-layout-wrapper,
.ins-preview-wrapper div[data-selected-layout="layout-4-13"] .ins-layout-wrapper,
.ins-preview-wrapper div[data-selected-layout="layout-4-14"] .ins-layout-wrapper,
.ins-preview-wrapper div[data-selected-layout="layout-4-15"] .ins-layout-wrapper,
.ins-preview-wrapper div[data-selected-layout="layout-4-16"] .ins-layout-wrapper {
  display: flex !important;
}

div[data-selected-layout="layout-4-5"] .ins-layout-block-wrapper:nth-child(1),
div[data-selected-layout="layout-4-6"] .ins-layout-block-wrapper:nth-child(2),
div[data-selected-layout="layout-4-7"] .ins-layout-block-wrapper:nth-child(3),
div[data-selected-layout="layout-4-11"] .ins-layout-block-wrapper:nth-child(1),
div[data-selected-layout="layout-4-12"] .ins-layout-block-wrapper:nth-child(2) {
  flex-direction: column;
}

#template-container[platform="mobile"] div[data-selected-layout*="layout-"] .ins-layout-wrapper .layout-add-element {
  display: none;
}

.ins-layout-active .editable-text {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ins-responsive-banner-element-container {
  height: 100%;
  width: 100%;
  position: relative;
  display: flex !important;
  flex-direction: row;
  align-items: center;
}

.ins-responsive-banner-element-container > .ins-element-wrap,
.ins-responsive-banner-element-container > .ins-element-content {
  width: 100%;
  display: flex;
}

.ins-layout {
  display: flex !important;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 40px;
}

#elements-wrapper .toolbox-menu ul li li li li li a {
  padding-left: 80px;
}

#action-builder-wrapper #template-container {
  overflow-y: scroll !important;
  height: 100vh !important;
  padding: 1px;
}

.responsive-add-element-menu {
  width: 140px !important;
}

.ins-dynamic-text {
  word-break: break-word !important;
  width: 100%;
  display: -webkit-box !important;
  height: inherit !important;
  overflow: hidden !important;
  -webkit-box-orient: vertical;
}

.ins-dynamic-text p {
  margin: 0 !important;
  font-size: inherit !important;
  font-weight: inherit !important;
  color: inherit !important;
}

.ins-notification-content div.hide-element,
#action-builder-wrapper #template-container .hidden-element {
  display: none !important;
}

.ins-recommender-body .hidden-layout {
  display: none !important;
}

.ins-recommender-body .full-width {
  width: 100% !important;
}

.ins-recommender-body .not-visible-layout {
  visibility: hidden !important;
}

.ins-mobile-web-smart-recommender-box-item .ins-product-image-button {
  visibility: hidden;
  position: relative;
}

.ins-mobile-web-smart-recommender-box-item .ins-product-image-button > .ins-mouse-event-target {
  cursor: pointer;
}

.ins-mobile-web-smart-recommender-box-item .ins-product-image-button > img.action-button-icon {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.ins-mobile-web-smart-recommender-box-item .ins-product-image-button > .ins-product-image-button-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: #000;
  opacity: 0;
}

.ins-product-rating-container, .ins-product-rating-wrapper {
  display: flex !important;
  justify-content: center;
  align-items: center;
}

.ins-product-rating {
  display: flex !important;
  gap: 0;
  height: inherit;
  width: inherit;
  background: inherit;
  margin: inherit;
  padding: inherit;
  justify-content: inherit;
  align-items: inherit;
}

.ins-product-rating > .svg-icon.rating-svg-icon {
  width: 100%;
  height: 100%;
  stroke-width: 0 !important;
}

.responsive-add-element-menu div svg {
  margin-top: 0 !important;
}

.ab-action-builder-tooltip .tooltip-content {
  width: 290px !important;
}

.add-layout-popup .element-content .element-box[type="RATING"] svg {
  stroke: #5D6980;
}

.arrange-dimensions-height {
  display: none !important;
}

.ins-single-product .arrange-dimensions-height,
#action-builder-wrapper #template-container .ins-product-card-designer.ins-flex {
  display: flex !important;
  justify-content: center;
}

.ins-product-card-designer .ins-product-dropdown-container {
  pointer-events: none;
}

.ins-product-box.ins-element-link .ins-badge-wrapper.ins-selected-element > .ins-badge-container {
  outline: 1px solid #258DDE;
}

.ins-element-dynamic-text, .ins-element-dynamic-badge {
  width: 100%;
}

.ins-single-product .ins-element-product-image {
  position: absolute;
}

.ins-widget-element-wrapper {
  display: flex !important;
}

.ins-product-dropdown-wrapper {
  flex-direction: unset !important;
}

.ins-widget-element-wrapper,
.ins-widget-element-wrapper > .ins-widget-element {
  display: flex !important;
  height: 100%;
  width: 100% !important;
  align-items: inherit;
  justify-content: inherit !important;
  flex-direction: inherit;
  flex-grow: 1;
}
.ins-widget-element-wrapper > .ins-widget-element {
  flex: 1;
}

.ins-widget-element-wrapper > .ins-widget-element > * {
  width: 100% !important;
}

.ins-preview-wrapper a, .ins-preview-wrapper a:active, .ins-preview-wrapper a:hover {
  color: inherit;
}

.ins-preview-wrapper .ins-responsive-banner-layout-container {
  display: flex;
}

.ins-preview-wrapper .arrange-dimensions-width,
.ins-preview-wrapper .arrange-dimensions-height {
  display: flex;
}

#elements-wrapper a[title="Product Image Badge"] > .svg-icon {
  height: 12px !important;
}

.ins-dynamic-width {
  min-width: fit-content !important;
}

.ins-dynamic-width .ins-product-price {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.ins-responsive-mode-active .ins-image-box {
  height: 100% !important;
}

/* Layout Main Css End */

/* Layout CSS End */
